<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamer Match Maker</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <canvas id="bg"></canvas>
  <header>
    <div class="banner-wrap">

      <a href="/">
        <h1>Gamer Match Maker {{user.displayName}}</h1>
      </a>


      {{!-- <div class="wrapper"> --}}
        <nav>
          {{#if loggedIn}}
          <a href='/logout'>Logout</a>
          <a href="/dashboard">Dashboard</a>
          {{else}}
          <a href="/login">Login</a>
          <a href='/logout'>Logout</a>
          {{/if}}
        </nav>
        {{!--
      </div> --}}
  </header>
  <main>
    {{{ body }}}
  </main>
  </div>
  <footer>
    <div class="banner-wrap">
      <p>
      Thanks for visiting!
      </p>
    </div>
  </footer>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script type="module" src="/javascript/three/bg.js"></script>
</body>

</html>
