
<div class="head-card">
{{> games-title game}}
</div> 
 
<div class = 'subheader'>
 <h2> Other Game Owners</h2>
</div>
<ol id="game-players">
{{#each game.played_by as |user| }} 
  <li>
    {{> users-list user }}
  </li>
{{/each}}
</ol>

{{!-- {{> users-list game.played_by}} 

{{!-- player_by = user --}}
