<a href = '{{profileurl}}' target = '_blank'>
    <div class = 'card'>
        <article class = 'user card_content'>
            <div class = 'card_title'>
                <p>{{username}}   {{steamid}}</p>
            </div>
            <div class = 'card_text'>
                <p>Hours Played: {{hours_played}}</p>
            </div>
        </article>
    </div>
</a>

<div class = 'subheader'>
 <h2>Games this user owns</h2>
</div>
  <a href = '' target = '_blank'>
    <div class = 'card'>
        <article class = 'game card_content'>
          <div class = 'card_title'>
            <img src = 'https://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/half-life-icon.png' alt = 'Logo of Cyberpunk 2077'>
            <p >Half Life</p>
          </div>
          <div class = 'card_text'>
            <span>Hours Played: 65</span>
          </div>
        </article>
      
    </div>
  </a>

